@if (obj === null) {
@if (notFound() === true) {
<app-error></app-error>
} @else {
<div class="h-full w-full flex justify-center items-center">
    <p class="text-center">Chargement...</p>
</div>
}
}@else {
<div class="m-4">
    <form [formGroup]="formGroup" (ngSubmit)="updateObject()" class="flex flex-col">
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput formControlName="name" type="text" />
            @if (formGroup.controls.name.invalid) {
            <mat-error>{{nameErrorMessage()}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Type de composant</mat-label>
            <mat-select [disabled]="true" [tabIndex]="classes.indexOf(obj.objectClass)">
                @for (c of classes; track $index) {
                <mat-option [value]="c" [disabled]="true">{{c}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Salle</mat-label>
            <input matInput formControlName="room" type="text" />
            @if (formGroup.controls.room.invalid) {
            <mat-error>{{roomErrorMessage()}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Bâtiment</mat-label>
            <input matInput formControlName="building" type="text" />
            @if (formGroup.controls.building.invalid) {
            <mat-error>{{buildingErrorMessage()}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Type de connexion</mat-label>
            <mat-select formControlName="connection">
                @for (c of connextions; track $index) {
                <mat-option [value]="c">{{c}}</mat-option>
                }
            </mat-select>
            @if (formGroup.controls.connection.invalid) {
            <mat-error>{{connectionErrorMessage()}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>État initial</mat-label>
            <mat-select formControlName="state">
                @for (c of states; track $index) {
                <mat-option [value]="c">{{c}}</mat-option>
                }
            </mat-select>
            @if (formGroup.controls.state.invalid) {
            <mat-error>{{stateErrorMessage()}}</mat-error>
            }
        </mat-form-field>
        @if (obj.objectClass === "BaseObject") {
        <button mat-raised-button type="submit" [disabled]="formGroup.invalid">Valider</button>
        }
    </form>
    @if (obj.objectClass === "LightObject") {
    <form [formGroup]="LightObjectGroup" (ngSubmit)="updateObject()" class="flex flex-col">
        <mat-form-field>
            <mat-label>Mode</mat-label>
            <mat-select formControlName="mode">
                @for (c of modes; track $index) {
                <mat-option [value]="c">{{c}}</mat-option>
                }
            </mat-select>
            @if (LightObjectGroup.controls.mode.invalid) {
            <mat-error>{{modeErrorMessage(LightObjectGroup.controls.mode)}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Limite de consommation</mat-label>
            <input matInput formControlName="consomationThreshold" type="number" />
            @if (LightObjectGroup.controls.consomationThreshold.invalid) {
            <mat-error>{{consomationThresholdErrorMessage(LightObjectGroup.controls.consomationThreshold)}}</mat-error>
            }
        </mat-form-field>
        <div>
            <mat-checkbox [disabled]="true" [checked]="typeof obj.battery === 'number'">A une batterie</mat-checkbox>
        </div>
        <div>
            <mat-checkbox [disabled]="true" [checked]="LightObjectGroup.controls.turnedOn">Allumé</mat-checkbox>
        </div>
        <button mat-raised-button type="submit" [disabled]="formGroup.invalid || LightObjectGroup.invalid"
            class="boom">Valider</button>
    </form>
    } @else if (obj.objectClass === "ThermostatObject") {
    <form [formGroup]="ThermostatObjectGroup" (ngSubmit)="updateObject()" class="flex flex-col">
        <mat-form-field>
            <mat-label>Mode</mat-label>
            <mat-select formControlName="mode">
                @for (c of modes; track $index) {
                <mat-option [value]="c">{{c}}</mat-option>
                }
            </mat-select>
            @if (ThermostatObjectGroup.controls.mode.invalid) {
            <mat-error>{{modeErrorMessage(ThermostatObjectGroup.controls.mode)}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Limite de consommation</mat-label>
            <input matInput formControlName="consomationThreshold" type="number" />
            @if (ThermostatObjectGroup.controls.consomationThreshold.invalid) {
            <mat-error>{{consomationThresholdErrorMessage(ThermostatObjectGroup.controls.consomationThreshold)}}</mat-error>
            }
        </mat-form-field>
        <div>
            <mat-checkbox [disabled]="true" [checked]="typeof obj.battery === 'number'">A une
                batterie</mat-checkbox>
        </div>
        <div>
            <mat-checkbox [disabled]="true" [checked]="ThermostatObjectGroup.controls.turnedOn">Allumé</mat-checkbox>
        </div>
        <mat-form-field>
            <mat-label>Température cible</mat-label>
            <input matInput formControlName="targetTemp" type="number" />
            @if (ThermostatObjectGroup.controls.targetTemp.invalid) {
            <mat-error>{{targetTempErrorMessage()}}</mat-error>
            }
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="formGroup.invalid || ThermostatObjectGroup.invalid"
            class="boom">Valider</button>
    </form>
    } @else if (obj.objectClass === "SpeakerObject") {
    <form [formGroup]="SpeakerObjectGroup" (ngSubmit)="updateObject()" class="flex flex-col">
        <mat-form-field>
            <mat-label>Limite de consommation</mat-label>
            <input matInput formControlName="consomationThreshold" type="number" />
            @if (SpeakerObjectGroup.controls.consomationThreshold.invalid) {
            <mat-error>{{consomationThresholdErrorMessage(SpeakerObjectGroup.controls.consomationThreshold)}}</mat-error>
            }
        </mat-form-field>
        <div>
            <mat-checkbox [disabled]="true" [checked]="typeof obj.battery === 'number'">A une
                batterie</mat-checkbox>
        </div>
        <div>
            <mat-checkbox [disabled]="true" [checked]="SpeakerObjectGroup.controls.turnedOn">Allumé</mat-checkbox>
        </div>
        <button mat-raised-button type="submit" [disabled]="formGroup.invalid || SpeakerObjectGroup.invalid"
            class="boom">Valider</button>
    </form>
    } @else if (obj.objectClass === "VideoProjectorObject") {
    <form [formGroup]="VideoProjectorObjectGroup" (ngSubmit)="updateObject()" class="flex flex-col">
        <mat-form-field>
            <mat-label>Limite de consommation</mat-label>
            <input matInput formControlName="consomationThreshold" type="number" />
            @if (VideoProjectorObjectGroup.controls.consomationThreshold.invalid) {
            <mat-error>{{consomationThresholdErrorMessage(VideoProjectorObjectGroup.controls.consomationThreshold)}}</mat-error>
            }
        </mat-form-field>
        <div>
            <mat-checkbox [disabled]="true"
                [checked]="VideoProjectorObjectGroup.controls.turnedOn">Allumé</mat-checkbox>
        </div>
        <button mat-raised-button type="submit" [disabled]="formGroup.invalid || VideoProjectorObjectGroup.invalid"
            class="boom">Valider</button>
    </form>
    } @else if (obj.objectClass === "ComputerObject") {
    <form [formGroup]="ComputerObjectGroup" (ngSubmit)="updateObject()" class="flex flex-col">
        <mat-form-field>
            <mat-label>Limite de consommation</mat-label>
            <input matInput formControlName="consomationThreshold" type="number" />
            @if (ComputerObjectGroup.controls.consomationThreshold.invalid) {
            <mat-error>{{consomationThresholdErrorMessage(ComputerObjectGroup.controls.consomationThreshold)}}</mat-error>
            }
        </mat-form-field>
        <div>
            <mat-checkbox [disabled]="true" [checked]="typeof obj.battery === 'number'">A une
                batterie</mat-checkbox>
        </div>
        <div>
            <mat-checkbox [disabled]="true" [checked]="ComputerObjectGroup.controls.turnedOn">Allumé</mat-checkbox>
        </div>
        <button mat-raised-button type="submit" [disabled]="formGroup.invalid || ComputerObjectGroup.invalid"
            class="boom">Valider</button>
    </form>
    } @else if (obj.objectClass === "WindowStoreObject") {
    <form [formGroup]="WindowStoreObjectGroup" (ngSubmit)="updateObject()" class="flex flex-col">
        <mat-form-field>
            <mat-label>Mode</mat-label>
            <mat-select formControlName="mode">
                @for (c of modes; track $index) {
                <mat-option [value]="c">{{c}}</mat-option>
                }
            </mat-select>
            @if (WindowStoreObjectGroup.controls.mode.invalid) {
            <mat-error>{{modeErrorMessage(WindowStoreObjectGroup.controls.mode)}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Heure d'ouverture</mat-label>
            <input matInput [matTimepicker]="pickerOpenWindowStore" formControlName="openTime" />
            <mat-timepicker-toggle matIconSuffix [for]="pickerOpenWindowStore" />
            <mat-timepicker #pickerOpenWindowStore interval="30min"></mat-timepicker>
            @if (WindowStoreObjectGroup.controls.openTime.invalid) {
            <mat-error>{{timeErrorMessage(WindowStoreObjectGroup.controls.openTime)}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Heure de fermeture</mat-label>
            <input matInput [matTimepicker]="pickerCloseWindowStore" formControlName="closeTime" />
            <mat-timepicker-toggle matIconSuffix [for]="pickerCloseWindowStore" />
            <mat-timepicker #pickerCloseWindowStore interval="30min"></mat-timepicker>
            @if (WindowStoreObjectGroup.controls.closeTime.invalid) {
            <mat-error>{{timeErrorMessage(WindowStoreObjectGroup.controls.closeTime)}}</mat-error>
            }
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="formGroup.invalid || WindowStoreObjectGroup.invalid"
            class="boom">Valider</button>
    </form>
    } @else if (obj.objectClass === "DoorObject") {
    <form [formGroup]="DoorObjectGroup" (ngSubmit)="updateObject()" class="flex flex-col">
        <mat-form-field>
            <mat-label>Heure d'ouverture</mat-label>
            <input matInput [matTimepicker]="pickerOpenDoor" formControlName="openTime" />
            <mat-timepicker-toggle matIconSuffix [for]="pickerOpenDoor" />
            <mat-timepicker #pickerOpenDoor interval="30min"></mat-timepicker>
            @if (DoorObjectGroup.controls.openTime.invalid) {
            <mat-error>{{timeErrorMessage(DoorObjectGroup.controls.openTime)}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Heure de fermeture</mat-label>
            <input matInput [matTimepicker]="pickerCloseDoor" formControlName="closeTime" />
            <mat-timepicker-toggle matIconSuffix [for]="pickerCloseDoor" />
            <mat-timepicker #pickerCloseDoor interval="30min"></mat-timepicker>
            @if (DoorObjectGroup.controls.closeTime.invalid) {
            <mat-error>{{timeErrorMessage(DoorObjectGroup.controls.closeTime)}}</mat-error>
            }
        </mat-form-field>
        <div>
            <mat-checkbox [disabled]="true" [checked]="DoorObjectGroup.controls.locked">Vérouillée</mat-checkbox>
        </div>
        <div>
            <mat-checkbox [disabled]="true" [checked]="DoorObjectGroup.controls.closed">Fermée</mat-checkbox>
        </div>
        <button mat-raised-button type="submit" [disabled]="formGroup.invalid || DoorObjectGroup.invalid"
            class="boom">Valider</button>
    </form>
    } @else if (obj.objectClass === "WiFiObject") {
    <form [formGroup]="WiFiObjectGroup" (ngSubmit)="updateObject()" class="flex flex-col">
        <mat-form-field>
            <mat-label>Type d'objet</mat-label>
            <mat-select [disabled]="true" [tabIndex]="obj.type">
                @for (c of wifis; track $index) {
                <mat-option [value]="c" [disabled]="true">{{c}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <div>
            <mat-checkbox [disabled]="true" [checked]="WiFiObjectGroup.controls.turnedOn">Allumé</mat-checkbox>
        </div>
        <button mat-raised-button type="submit" [disabled]="formGroup.invalid || WiFiObjectGroup.invalid"
            class="boom">Valider</button>
    </form>
    } @else if (obj.objectClass === "Erreur") {
    <p>Cette classe est uniquement pour le développement.</p>
    }
    <button mat-flat-button routerLink="/object" class="w-full mt-1">Retour</button>
</div>
}