.filters {
    margin: 1em;

    h2 {
        font-size: x-large;
    }
}


::ng-deep .sidenav-is-mobile .filters {
    justify-content: center;
}

apx-chart * {
    min-width: 300px !important;
    min-height: 300px !important;
}