.filters {
    margin: 1em;
}

h2 {
    font-size: x-large;
}

::ng-deep .sidenav-is-mobile {
    .filters {
        justify-content: center;
    }

    .bar {
        height: 560px;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.main {
    margin: 0 2em;
}

.chart {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2em;
}