@if (loading) {
<div class="h-full w-full flex items-center justify-center">
    <p>Chargement des données...</p>
</div>
}@else {
<mat-tab-group [(selectedIndex)]="selectedIndex">
    @for (tab of tabs; track tab) {
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="symbols">{{tab.icon}}</mat-icon>
            {{tab.name}}
        </ng-template>
        <div>
            <div class="filters flex flex-row flex-wrap gap-2 items-baseline">
                <h2>Filtrer les salles et bâtiment:</h2>
                <mat-form-field>
                    <mat-label>Salle</mat-label>
                    <mat-select [formControl]="filteredRoom" [placeholder]="roomList[0]">
                        <mat-option value="">Toutes</mat-option>
                        @for (room of roomList; track room) {
                        <mat-option [value]="room">{{room}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                @if (buildingList.length > 0) {
                <mat-form-field>
                    <mat-label>Bâtiment</mat-label>
                    <mat-select [formControl]="filteredBuilding" [placeholder]="buildingList[0]">
                        <mat-option value="">Tous</mat-option>
                        @for (building of buildingList; track building) {
                        <mat-option [value]="building">{{building}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                }
            </div>
            <div class="main">
                <div
                    [ngTemplateOutlet]="tab.id === 'electricity' ? electricity : (tab.id === 'maintenance' ? maintenance : null )">
                </div>
            </div>
        </div>
    </mat-tab>
    }
</mat-tab-group>
}

<ng-template #electricity>
    <h2>Information sur la consomation d'électricité</h2>
    <p>Consommation globale: {{electricityData.global}}Wh</p>
    <p>Consommation journalière: {{electricityData.daily}}W</p>
    <p>Consommation mensuel: {{electricityData.monthly}}W</p>
    <p>Limite de consomation global: {{electricityData.threshold}}Wh
        @if (electricityData.global>electricityData.threshold){
        <span style="color:var(--mat-sys-error)">(Dépassé !)</span>
        }
    </p>
    <p>Nombre d'objets sur batterie: {{electricityData.batteries}}</p>
    @if (objList.length>0&&electricityData.global>0) {
    <div class="chart">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
            [responsive]="chartOptions.responsive"></apx-chart>
    </div>
    }
</ng-template>

<ng-template #maintenance>
    <h2>Objet en état d'erreur:</h2>
    @if (errorObject.length>0) {
    <div [class]="bar">
        @for (obj of errorObject; track $index) {
        <app-domo [obj]="obj" [detailOnly]="true"></app-domo>
        }
    </div>
    } @else {
    <p matTooltip="pour l'instant...">Tout va bien, il n'y a pas d'erreur</p>
    }
    <h2 class="mt-4">Objet en maintenance:</h2>
    @if (maintainedObject.length>0) {
    <div [class]="bar">
        @for (obj of maintainedObject; track $index) {
        <app-domo [obj]="obj" [detailOnly]="true"></app-domo>
        }
    </div>
    } @else {
    <p>Il n'y a aucun objet en maintenance</p>
    }
</ng-template>