<div class="sidenav-container" [class.sidenav-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="flex flex-col justify-between !p-[16px]">
        <div class="sidenav-toolbar flex flex-row items-center">
            <button mat-icon-button (click)="toggleSideNav()">
                <mat-icon aria-hidden="false" [style.font-weight]="toggled?'bold':'inherit'">menu</mat-icon>
            </button>
            <h3>{{SiteName}}</h3>
        </div>
        <div class="flex flex-row flex-nowrap justify-end gap-4">
            @if (user) {
            <div class="flex justify-end items-center"
                [class]="mobileQuery.matches? 'flex-col gap-1' : 'flex-row gap-4'">
                <p class="text-base">{{user.level||'Inconnu'}}</p>
                <mat-progress-bar mode="determinate" [value]="userLevelCompletion"></mat-progress-bar>
            </div>
            }
            <div>
                <button mat-mini-fab [matMenuTriggerFor]="themeMenu" matTooltip="Changer le thème du site">
                    <mat-icon>palette</mat-icon>
                </button>
                <mat-menu #themeMenu>
                    @for (item of theme.themeList; track $index) {
                    <button mat-menu-item [style.display]="item.value===theme.themeChoosen?'none':'block'"
                        (click)="theme.setTheme(item.value)">{{item.label}}</button>
                    }
                </mat-menu>
            </div>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-content-container">
        <mat-sidenav #snav [mode]="mobileQuery.matches?'over':'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" [ngClass]="{'side-nav-show-icon':!toggled}">
            <mat-nav-list class="!flex flex-col flex-nowrap justify-between h-full">
                <div class="top-sidenav">
                    @for (menu of SideNavItemsTop; track $index) {
                    @if (menu.icon && !menu.hidden) {
                    @if (menu.notifications && menu.notifications.length>0) {
                    <mat-icon aria-hidden="false" (mouseleave)="menu.hover=false" (mouseover)="menu.hover=true"
                        (focus)="menu.hover=true" [ngClass]="(menu.hover?menu.hoverClass||'':'')+' '+menu.class||''"
                        [matBadge]="menu.notifications" [matTooltip]="menu.tooltip" (click)="toggleSideNav()"
                        class="side-nav-show-icon-displaced">{{menu.icon}}</mat-icon>
                    } @else {
                    <mat-icon aria-hidden="false" (mouseleave)="menu.hover=false" (mouseover)="menu.hover=true"
                        [ngClass]="(menu.hover?menu.hoverClass||'':'')+' '+menu.class||''" [matTooltip]="menu.tooltip"
                        (click)="toggleSideNav()" class="side-nav-show-icon-displaced">{{menu.icon}}</mat-icon>
                    }
                    }
                    <a mat-list-item (mouseleave)="menu.hover=false" (mouseover)="menu.hover=true"
                        (focus)="menu.hover=true" [ngClass]="(menu.hover?menu.hoverClass||'':'')+' '+menu.class||''"
                        [routerLink]="menu.link" [ariaLabel]="menu.aria" [matTooltip]="menu.tooltip"
                        [style.display]="menu.hidden?'none':''" class="side-nav-link-item" (click)="toggleSideNav()">
                        <div class="sidenav-item">
                            @if (menu.notifications && menu.notifications.length>0) {
                            <mat-icon aria-hidden="false" (mouseleave)="menu.hover=false" (mouseover)="menu.hover=true"
                                (focus)="menu.hover=true"
                                [ngClass]="(menu.hover?menu.hoverClass||'':'')+' '+menu.class||''"
                                [matBadge]="menu.notifications">{{menu.icon}}</mat-icon>
                            } @else {
                            <mat-icon aria-hidden="false" (mouseleave)="menu.hover=false" (mouseover)="menu.hover=true"
                                (focus)="menu.hover=true"
                                [ngClass]="(menu.hover?menu.hoverClass||'':'')+' '+menu.class||''">{{menu.icon}}</mat-icon>
                            }
                            <p>{{menu.title}}</p>
                        </div>
                    </a>
                    }
                </div>
                <div>
                    @for (menu of SideNavItemsBottom; track $index) {
                    @if (menu.icon && !menu.hidden) {
                    <mat-icon aria-hidden="false" (mouseleave)="menu.hover=false" (mouseover)="menu.hover=true"
                        (focus)="menu.hover=true" [ngClass]="(menu.hover?menu.hoverClass||'':'')+' '+menu.class||''"
                        [matTooltip]="menu.tooltip" (click)="toggleSideNav()"
                        class="side-nav-show-icon-displaced">{{menu.icon}}</mat-icon>
                    }
                    <a mat-list-item (mouseleave)="menu.hover=false" (mouseover)="menu.hover=true"
                        (focus)="menu.hover=true" [ngClass]="(menu.hover?menu.hoverClass||'':'')+' '+menu.class||''"
                        [routerLink]="menu.link" (mousedown)="menu.callback?menu.callback():null"
                        [ariaLabel]="menu.aria" [matTooltip]="menu.tooltip" [style.display]="menu.hidden?'none':''"
                        (click)="toggleSideNav()">
                        <div class="sidenav-item">
                            @if (menu.id === "CompteObj"){
                            @if (menu.icon) {
                            <mat-icon aria-hidden="false" (mouseleave)="menu.hover=false" (mouseover)="menu.hover=true"
                                (focus)="menu.hover=true"
                                [ngClass]="(menu.hover?menu.hoverClass||'':'')+' '+menu.class||''"
                                class="side-nav-account-image">{{menu.icon}}</mat-icon>
                            }
                            <div class="account-title">
                                <span class="side-nav-account-name">{{menu.title}}</span>
                                @if (getItem("AdminObj")?.hidden===false) {
                                <span class="side-nav-account-role">Admin</span>
                                }
                            </div>
                            } @else {
                            @if (menu.icon) {
                            <mat-icon aria-hidden="false" (mouseleave)="menu.hover=false" (mouseover)="menu.hover=true"
                                [ngClass]="(menu.hover?menu.hoverClass||'':'')+' '+menu.class||''">{{menu.icon}}</mat-icon>
                            }
                            <p>{{menu.title}}</p>
                            }
                        </div>
                    </a>
                    }
                </div>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content [ngClass]="(!toggled && !mobileQuery.matches)?'side-nav-content':''">
            <ng-content></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>