<div class="w-full" style="background-color: rgb(var(--color-0));">
    <p class="invert" style="color: rgb(var(--color-0));">main works!</p>
</div>
<div class="w-full" style="background-color: rgb(var(--color-1));">
    <p class="invert" style="color: rgb(var(--color-1));">main works!</p>
</div>
<div class="w-full" style="background-color: rgb(var(--color-2));">
    <p class="invert" style="color: rgb(var(--color-2));">main works!</p>
</div>
<div class="w-full" style="background-color: rgb(var(--color-3));">
    <p class="invert" style="color: rgb(var(--color-3));">main works!</p>
</div>
<div class="w-full" style="background-color: rgb(var(--color-4));">
    <p class="invert" style="color: rgb(var(--color-4));">main works!</p>
</div>
<div class="w-full" style="background-color: rgb(var(--color-5));">
    <p class="invert" style="color: rgb(var(--color-5));">main works!</p>
</div>
<div class="w-full" style="background-color: rgb(var(--color-6));">
    <p class="invert" style="color: rgb(var(--color-6));">main works!</p>
</div>
<div class="w-full" style="background-color: rgb(var(--color-7));">
    <p class="invert" style="color: rgb(var(--color-7));">main works!</p>
</div>