.filters,
.main-container,
.button-container {
    margin-bottom: 1em;

    h2 {
        font-size: x-large;
    }
}

::ng-deep .sidenav-is-mobile .filters {
    justify-content: center;
}

::ng-deep .sidenav-is-mobile .button-container>div {
    justify-content: space-around;
}