<div class="m-4">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Généralité</mat-panel-title>
                <mat-panel-description>
                    Utilisations des informations
                    <mat-icon class="symbols">globe</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Ceci est un projet pour CY Tech pour la matière Développement Web.</p>
            <p>Nous utilisons le service <a href="https://www.mailjet.com/fr/">MailJet</a> pour vous envoyer des emails,
                et le service <a href="https://www.mongodb.com/fr-fr">MongoDB</a> pour le stockage de données. Nous nous
                dédouanons de toutes responsabilitées de l'utilisation faites des informations fournies.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Les niveaux</mat-panel-title>
                <mat-panel-description>À quoi servent ils?</mat-panel-description>
            </mat-expansion-panel-header>
            <p>Il y a 3 niveaux d'utilisateurs:</p>
            <ol>
                <li>Débutant</li>
                <li>Avancé</li>
                <li>Expert</li>
            </ol>
            <p>Plus vous montez dans les niveaux, plus vous avez d'accès et de droits envers les objets et
                l'organisation elle-même.</p>
            <p>Vous pouvez voir votre niveau et votre progression en haut de la page.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Débutant</mat-panel-title>
                <mat-panel-description>Accès et permissions</mat-panel-description>
            </mat-expansion-panel-header>
            <p>Rien à part la base.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Avancé</mat-panel-title>
                <mat-panel-description>Accès et permissions</mat-panel-description>
            </mat-expansion-panel-header>
            <p>Tout les accès débutant plus la possibilité de paramétrer la consommation maximale, de changer les
                automatisations.</p>
            <p>Les paramètres avancés auront <span
                    style="background-color: var(--back-advanced); color: var(--on-back-advanced);">
                    ce fond de couleurs</span>.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Expert</mat-panel-title>
                <mat-panel-description>Accès et permissions</mat-panel-description>
            </mat-expansion-panel-header>
            <p>Tout.</p>
            <p>Les paramètres experts auront <span
                    style="background-color: var(--back-expert); color: var(--on-back-expert);">
                    ce fond de couleurs</span>.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Administrateurs</mat-panel-title>
                <mat-panel-description>
                    Accès et permissions
                    <mat-icon>security</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>En tant qu'administrateur, vous avez accès à l'intégralité des fonctionnalités du site, ainsi qu'à la
                gestions des utilisateurs.</p>
            <p>Les paramètres administrateur auront <span
                    style="background-color: var(--back-admin); color: var(--on-back-admin);">
                    ce fond de couleurs</span>.</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>