@use 'sass:math';

::ng-deep.sidenav-container.sidenav-is-mobile .mobile-width {
    width: calc(100dvw - 6rem);
}

.mat-card-title {
    min-width: max-content;
}

.mat-mdc-card-actions {
    flex-direction: row-reverse;
}

.actions-checkbox {
    flex-direction: row;
    justify-content: space-between;
}

.light-header-image {
    background-image: url('/assets/img/objects/light.png');
    background-size: cover;
}

.thermostat-header-image {
    background-image: url('/assets/img/objects/thermostat.png');
    background-size: cover;
}

.speaker-header-image {
    background-image: url('/assets/img/objects/speaker.png');
    background-size: cover;
}

.videoprojector-header-image {
    background-image: url('/assets/img/objects/videoprojector.png');
    background-size: cover;
}

.computer-header-image {
    background-image: url('/assets/img/objects/computer.png');
    background-size: cover;
}

.windowstore-header-image {
    background-image: url('/assets/img/objects/windowstore.png');
    background-size: cover;
}

.door-header-image {
    background-image: url('/assets/img/objects/door.png');
    background-size: cover;
}

.wifi-header-image {
    background-image: url('/assets/img/objects/wifi.png');
    background-size: cover;
}

.error-header-image {
    background-image: url('/assets/img/objects/error.png');
    background-size: cover;
}

.icon-red {
    &.mat-icon {
        color: #ff5151 !important;
    }

    & mat-icon {
        color: #ff5151 !important;
    }
}

.icon-green {
    &.mat-icon {
        color: #4CAF50 !important;
    }

    & mat-icon {
        color: #4CAF50 !important;
    }
}

mat-card-title {
    text-wrap-mode: nowrap;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: 0px 0;
    }

    100% {
        background-position: 100em 0;
    }
}

.placeholder-p {
    min-width: 60px;
    color: rgba(#000000, 0);
    text-wrap-mode: nowrap;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: transparent;
    background: linear-gradient(to right, #eeeeeea8 8%, #dddddda8 18%, #eeeeeea8 33%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
    margin-bottom: 0.5em;
    animation-duration: 30s;
}

.rplaceholder1 {
    width: min(300, max(150, math.random(300)))+px;
}

.rplaceholder2 {
    width: min(300, max(150, math.random(300)))+px;
}

.rplaceholder3 {
    width: min(300, max(150, math.random(300)))+px;
}

.rplaceholder4 {
    width: min(300, max(150, math.random(300)))+px;
}

.rplaceholder5 {
    width: min(300, max(150, math.random(300)))+px;
}