@if (user===null) {
<app-error></app-error>
} @else {
@if (user.photo) {
<img [src]="BaseUrl+user.photo" alt="Image de profile" />
}
<p>id: {{user.id}}</p>
<p>firstname: {{user.firstname}}</p>
<p>lastname: {{user.lastname}}</p>
<p>role: {{user.role}}</p>
<p>sexe: {{user.sexe}}</p>
<p>level: {{user.level}}</p>
@if (privateMode) {
<p>email: {{user.email}}</p>
<p>age: {{user.age}}</p>
<p>validated: {{user.validated===undefined?true:false}}</p>
<br>
<p>PRIVATE MODE ON, vous pouvez accéder au informations privés et modifer votre profile</p>
}
}