<div class="w-full" style="background-color: var(--back-admin);">
    <p style="color: var(--on-back-admin);" class="font-bold">fond des options administratrices!
    </p>
</div>
<div class="w-full" style="background-color: var(--back-expert);">
    <p style="color: var(--on-back-expert);" class="font-bold">fond des options expertes!</p>
</div>
<div class="w-full" style="background-color: var(--back-advanced);">
    <p style="color: var(--on-back-advanced);" class="font-bold">fond des options avancées!</p>
</div>

<a [routerLink]="['/object']">
    <button mat-button>Object</button>
</a>

<mat-form-field>
    <mat-label>Nombre d'objets à générer</mat-label>
    <input matInput [formControl]="fakeControl" />
</mat-form-field>
<button mat-flat-button (click)="generateFakeData()" [disabled]="fakeControl.invalid">Générer</button>
<p>{{data}}</p>