<div class="w-full" style="background-color: var(--mat-sys-primary, inherit);">
    <p style="color: var(--mat-sys-on-primary, inherit);" class="font-bold">fond des options administratrices!
    </p>
</div>
<div class="w-full" style="background-color: var(--mat-sys-tertiary, inherit);">
    <p style="color: var(--mat-sys-on-tertiary, inherit);" class="font-bold">fond des options expertes!</p>
</div>
<div class="w-full" style="background-color: var(--mat-sys-secondary, inherit);">
    <p style="color: var(--mat-sys-on-secondary, inherit);" class="font-bold">fond des options avancées!</p>
</div>