/* You can add global styles to this file, and also import other style files */

@use "tailwindcss";

html,
body {
    height: 100dvh;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
    text-align: justify;
}

.danger-button {
    background-color: red !important;
    color: white !important;
    font-weight: bold !important;
}

:root {
    --back-admin: var(--mat-sys-primary, inherit);
    --on-back-admin: var(--mat-sys-on-primary, inherit);
    --back-expert: var(--mat-sys-tertiary, inherit);
    --on-back-expert: var(--mat-sys-on-tertiary, inherit);
    --back-advanced: var(--mat-sys-secondary, inherit);
    --on-back-advanced: var(--mat-sys-on-secondary, inherit);
}