<div>
    <div>
        <h2>Présentation</h2>
        <p>Bienvenu(e) sur le module administration.</p>
        <p>Parmis les modules ci-dessus, vous pouvez:</p>
        <ul>
            <li>Logs: Vous êtes actuellement dedans, permet de généré les rapports du site ou de récupérer les
                différentes logs.</li>
            <li>Utilisateurs: Liste des utilisateurs. Sélectionnez en un pour pouvoir le modifier dans le module
                modification.</li>
            <li>Modification: Permet de modifier l'utilisateur selectionné dans la liste.</li>
            <li>Effacement: Liste des demandes de suppressions d'objets.</li>
        </ul>
    </div>
    <div>
        <h2>Logs</h2>
        <button mat-flat-button (click)="showLogs()">Voir les logs</button>
        <button mat-flat-button (click)="downloadLogs()">Télécharger les logs</button>
    </div>
    <div>
        <h2>Rapports</h2>
        <button mat-flat-button>Générer un rapport</button>
    </div>
    <div>
        <h2>Base de donnée</h2>
        <button mat-flat-button (click)="dataDumpLauncher()">Faire une sauvegarde</button>
    </div>
</div>
