.header {
    background-size: cover;
    width: 100px;
    height: 100px;
}

.LightObject {
    background-image: url('/assets/img/objects/light.png');
}

.ThermostatObject {
    background-image: url('/assets/img/objects/thermostat.png');
}

.SpeakerObject {
    background-image: url('/assets/img/objects/speaker.png');
}

.VideoProjectorObject {
    background-image: url('/assets/img/objects/videoprojector.png');
}

.ComputerObject {
    background-image: url('/assets/img/objects/computer.png');
}

.WindowStoreObject {
    background-image: url('/assets/img/objects/windowstore.png');
}

.DoorObject {
    background-image: url('/assets/img/objects/door.png');
}

.WiFiObject {
    background-image: url('/assets/img/objects/wifi.png');
}

.error-header-image {
    background-image: url('/assets/img/objects/error.png');
}

h2 {
    font-size: xx-large;
    font-weight: bold;
}

.main-header {
    background-color: var(--back-admin);
    margin: 1em auto;
    padding: 1em;
    border-radius: 20px;
    width: max(40dvw, 300px);
    color: var(--on-back-advanced);
}

.public {
    background-color: var(--back-advanced);
    color: var(--on-back-advanced);
    border-radius: 20px;
    padding: 2em;
    margin: 0.5em;
}

.image-container {
    position: relative;

    .profileImageHover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        cursor: pointer;

        p {
            text-align: center;
        }
    }
}

form {
    width: max(200px, 40dvw);
    margin: 0 auto;
}

a {
    color: var(--on-back-advanced);
}